
<% mymovie_comment.first(1).each do |mymovie_comment| %>
  <tr>
    <td><%= attachment_image_tag mymovie_comment.user ,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %></td>
    <td><%= mymovie_comment.user.nickname %></td>
    <td><%= mymovie_comment.rate %></td>
    <td><%= mymovie_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= mymovie_comment.spoiler_status %></td>
    <td><%= mymovie_comment.comment %></td>
    <td>
      <% if mymovie_comment.user_id == current_user.id %>
        <%= link_to "edit", edit_movie_comment_path(mymovie_comment.id), class: "btn smoothScroll comment_edit" %>
        <%= link_to "delete", movie_comment_path(mymovie_comment.id), method: :delete, class: "btn smoothScroll comment_delete", remote: true %>
      <% end %>
    </td>
  </tr>
<% end %>

<% othermovie_comments.each do |othermovie_comment| %>
  <tr>
    <td><%= attachment_image_tag othermovie_comment.user ,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %></td>
    <td><%= othermovie_comment.user.nickname %></td>
    <td><%= othermovie_comment.rate %></td>
    <td><%= othermovie_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= othermovie_comment.spoiler_status %></td>
    <td>
      <a class="btn btn-default input-color" data-toggle="collapse" href="#collapseExample<%= othermovie_comment.id %>">
        表示／非表示
      </a>
      <div class="collapse" id="collapseExample<%= othermovie_comment.id %>">
        <div>
          <%= othermovie_comment.comment %>
        </div>
      </div>
    </td>
  </tr>
<% end %>