<% if markjudgment.blank? %>
  <%= form_with url: marks_path do |f| %>
    <%= f.hidden_field :movie_id, :value => apimovie_id %>
    <div class="wrap2">
      <%= button_tag :type => "submit", :class =>"button" do %>
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= form_with url: mark_path(markjudgment.first.id), method: (:delete) do |f| %>
    <div class="wrap2">
      <%= button_tag :type => "submit", :class =>"button2" do %>
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      <% end %>
    </div>
  <% end %>
<% end %>
<div calss="text-center">
  <%= moviemarks.count %>Mark!
</div>