<h1>映画検索</h1>

<div>
  <%= form_tag(movies_search_path, method: :get) do %>
    <%= search_field_tag :looking_for %>
    <%= submit_tag '検索' %>
  <% end %>
</div>

<div>
  <% if @search_term.nil? %>
    <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
  <% else %>
    <p>[<%= @search_term %>]の検索結果</p>
    <table class="table">
      <thead>
        <tr>
          <th>ポスター</th>
          <th>タイトル</th>
          <th>上映日</th>
          <th>あらすじ</th>
        </tr>
      </thead>
      <tbody>
        <% @movie_results.each do |movie| %>
            <tr>
              <td><%= image_tag("https://image.tmdb.org/t/p/w200#{movie["poster_path"]}", :alt => 'poster') %></td>
              <td><%= link_to movie['title'], action: 'show', id: "#{movie["id"]}" %></td>
              <td><%= movie['release_date'] %></td>
              <td><%= movie['overview'] %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<!-- <input id="keyword" class="uk-input uk-form-width-large">
  <button onclick="main();" class="uk-button uk-button-primary">送信</button>
  <div id="container" class="uk-flex"></div> -->