<h1><%= @movie_info['title'] %></h1>

<h3><strong>原題：</strong><%= @movie_info['original_title'] %></h3>

<p><strong>上映日：</strong><%= @movie_info['release_date'] %></p>

<p><strong>上映時間：</strong><%= @movie_info['runtime'] %>分</p>

<p>
  <strong>ジャンル：</strong>
  <% @movie_info['genres'].each do |genre| %>
    <% if genre == @movie_info['genres'].last %>
      <span><%= genre['name'] %></span>
    <% else %>
      <span><%= genre['name'] %>、</span>
    <% end %>
  <% end %>
</p>

<p><strong>ストーリ-：</strong><%= @movie_info['overview'] %></p>

<%= image_tag("https://image.tmdb.org/t/p/original#{@movie_info['poster_path']}", :alt => 'poster') %>

<br>

<% @cast_info.first(5).each do |cast| %>
  <tr>
    <td><%= image_tag("https://image.tmdb.org/t/p/w200#{cast["profile_path"]}") %></td>
    <td><h3><%= cast['character'] %></h3></td>
    <td><h3><%= cast['name'] %></h3></td>
  </tr>
<% end %>