<div id="sp-menu">
  <h2>myBrain</h2>
  <ul>
    <% if user_signed_in? %>
    <li class="">
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span> TOP
        <% end %>
      </li>
      <li class="">
        <%= link_to user_path(current_user.id) do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> マイページ
        <% end %>
      </li>
        <li class="">
          <%= link_to users_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> ユーザー
          <% end %>
      </li>
      <li class="">
        <%= link_to memos_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 投稿
        <% end %>
      </li>
      <li class="">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> ログアウト
        <% end %>
      </li>
      <div>
        <% if user_signed_in? %>
          <%= form_tag search_path, :method => 'get' do %>
            <div class="text-align">
              <%= select_tag "table", options_for_select({"ユーザー" => "1", "投稿タイトル" => "2"}), class: "search" %>
              <%= select_tag "method", options_for_select({"部分一致" => "1", "完全一致" => "2", "前方一致" => "3", "後方一致" => "4"}), class: "search" %>
              <%= text_field_tag :word,"",{placeholder: :"検索するキーワード", class: ""} %>
              <%= submit_tag "検索する", :name => nil, class: "btn btn-default" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <li class="">
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span> TOP
        <% end %>
      </li>
      <li class="">
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME
        <% end %>
      </li>
      <li class="">
        <%= link_to about_path do %>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span> サイト紹介
        <% end %>
      </li>
      <li class="">
        <%= link_to new_user_registration_path do %>
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> 新規登録
        <% end %>
      </li>
      <li class="">
        <%= link_to new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  ログイン
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div id="hm-icon">
  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
