<div class="row">
  <br>
  <div class="col-xs-1"></div>

  <div class="col-xs-5">
    <div class="text-center"><%= attachment_image_tag user,:profile_image, :fill, 100, 100, format: 'png', fallback: "no_image.jpg" %></div>
  </div>
  <div class="col-xs-5">
    <br>
    <h4 class="text-center"><%= user.nickname %></h4>
    <div class="text-center">
      <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
            <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn smoothScroll anime_2" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn smoothScroll anime" %>
          <% end %>
        <% else %>
          <%= link_to 'profile edit', edit_user_path(user), class: "btn btn-primary comment_edit" %>
        <% end %>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <br>
  <div class="col-xs-1"></div>

  <div class="col-xs-5">
    <h4 class="text-center">followings :
      <%= link_to follows_user_path(user.id) do %>
        <%= user.followings.count %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-5">
    <h4 class="text-center">followers :
      <%= link_to followers_user_path(user.id) do %>
        <%= user.followers.count %>
      <% end %>
    </h4>
  </div>

  <div class="col-xs-1"></div>
</div>


<div class="row">
  <br>
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <h4 class="text-center">introduction</h4>
    <p class="text-center"><%= user.introduction %></p>
  </div>
  <div class="col-xs-1"></div>
</div>

<br>
