<div class="row top">
  <h2 class="text-center">Follows</h2>
</div>

<%= render 'users/info', user: @user %>

<div class="row">
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <h2 class="text-center">Users</h2>
    <% @followings_users.each do |user| %>
      <div class="col-xs-12 well">
        <div class="text-center col-xs-12">
          <%= attachment_image_tag user,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %>
          <br>
          <%= link_to user_path(user.id) do %>
            <%= user.nickname %>
          <% end %>
        </div>
        <div class="text-center col-xs-6">
          <%= user.followings.count %> Follows
        </div>
        <div class="text-center col-xs-6">
          <%= user.followers.count %> Followers
        </div>
        <div class="text-center col-xs-12 bottom">
          <% if current_user != user %>
            <% if user.followed_by?(current_user) %>
              <%=link_to "not Follow", user_relationships_path(user.id), method: :delete, class: "btn smoothScroll anime_2" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xs-1"></div>
</div>