<div class="row top">
  <h2 class="text-center">Followers</h2>
</div>

<%= render 'users/info', user: @user %>

<div class="row top">
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <table class="table">
      <tbody>
        <% @followers_users.each do |user| %>
          <tr>
            <td class="col-xs-2">
              <%= attachment_image_tag user,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %>
            </td>
            <td class="col-xs-5">
              <%= link_to user_path(user.id) do %>
                <%= user.nickname %>
              <% end %>
            </td>
            <td class="col-xs-1">
              <%= user.followings.count %> Follows
            </td>
            <td class="col-xs-1">
              <%= user.followers.count %> Followers
            </td>
            <td class="col-xs-3">
            <!-- フォロー -->
            <% if current_user != user %>
              <% if user.followed_by?(current_user) %>
                  <%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn smoothScroll anime_2" %>
              <% else %>
                  <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn smoothScroll anime" %>
              <% end %>
            <% end %>
            <!-- フォロー -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-1"></div>
</div>