<div class="row top">
  <h2 class="text-center">User My Page</h2>
</div>

<%= render 'users/info', user: @user %>

<div class="row">
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <div class="wrap">
      <ul id="tab-menu" class="clearfix">
        <li>
          <a href="#tab1" class="active"><%= @user.checks.count %><br>Check</a>
        </li>
        <li><a href="#tab2" class=""><%= @user.marks.count %><br>Merk</a></li>
        <li><a href="#tab3" class=""><%= @user.likes.count %><br>Like</a></li>
        <li><a href="#tab4" class=""><%= @user.movie_comments.count %><br>comment</a></li>
      </ul>

      <div id="tab-contents" class="clearfix">
        <div id="tab1" class="tab input-color">
          <% @movies.each do |movie| %>
            <div class="clearfix movies_list text-center">
              <div>
                <%= link_to movie_path(movie["id"]) do %>
                  <%= image_tag("https://image.tmdb.org/t/p/w154/#{movie['poster_path']}", :alt => 'poster') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div id="tab2" class="tab input-color">
          <p>TAB2のテキストが入ります。TAB２のテキストが入ります。</p>
        </div>

        <div id="tab3" class="tab input-color">
          <p>TAB3のテキストが入ります。TAB３のテキストが入ります。TAB3のテキストが入ります。</p>
        </div>

        <div id="tab4" class="tab input-color">
          <% @user.movie_comments.each do |movie_comment| %>
            <div>
              <%= movie_comment.comment %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-1"></div>
</div>