<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Cinematic Records</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag(image_tag='favicon.ico', options={}) %>
  </head>

  <body>
    <div class="container">
      <div id="sp-menu">
        <h1 class="text-center", style="color:#CC3300;">Cinematic Records</h1>
        <ul style="padding: 0;">
        <!-- ログインしていたら　ここから -->
          <% if user_signed_in? %>
            <li class="">
              <%= link_to root_path do %>
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> TOP
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to user_path(current_user.id) do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> my page
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to users_path do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> users
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to follows_user_path(current_user.id) do %>
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> followings
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to followers_user_path(current_user.id) do %>
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> followings
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to movies_path do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> movie search
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> log out
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="input-color">
              <%= form_tag(movies_path, method: :get) do %>
                <%= text_field_tag :looking_for %>
                <%= submit_tag '検索', class: "anime" %>
              <% end %>
            </li>
          <!-- ログインしていたら　ここまで -->
          <!-- ログインしていなかったら　ここから -->
          <% else %>
            <li class="">
              <%= link_to root_path do %>
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> TOP
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_registration_path do %>
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> sign_up
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  log in
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
        <!-- ログインしていなかったら　ここまで -->
        </ul>
      </div>
      <!-- ハンバーガーメニュー ここから　-->
      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- ハンバーガーメニュー ここまで　-->

      <%= yield %>

      <span id="back">
        <a href="#">
        <%= image_tag "arrow.png" %>
        </a>
      </span>

      <footer>
        <p>映画をもっと、身近に。</p>
        <br>
        <p>© Cinematic Records INC. ALL RIGHTS RESERVED.</p>
      </footer>
    </div>
  </body>
</html>